.main {
    padding: 50px 20px;
}

.project__details {
    margin-top: 15px;
}

.section {
    margin-top: 30px;
}

.sub__list {
    padding-left: 20px; 
}

.artist__details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.artist__image {
    width: 40px;
}

@media only screen and (min-width: 500px) {
    .__wrapper {
        max-width: 500px;
        margin: 0 auto;
    }
}