.__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.main {
    padding: 0px 20px;
}

.main__heading {
    font-size: 2.8rem;
}

.main__desc {
    margin: 0.5rem auto 3rem auto;
    max-width: 350px;
}

.spotify_connect_button {
    background-color: var(--spotify-green);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

.spotify_connect_button:hover {
    background-color: var(--spotify-black);
}

.spotify_connect_button__icon {
    width: 5rem;
    margin-left: 0.35rem;
}

.footer {
    margin-top: 5rem;
    padding: 0px 20px
}

.footer__text {
    font-size: 0.8rem;
    color: #666;
    border-top: #66666681 solid 1px;
    padding-top: 2rem;
    max-width: 450px;
}